alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.22.0
astroid==1.4.9
astropy==2.0.1
astroquery==0.3.5
autopep8==1.3.2
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
blaze==0.10.1
bleach==2.1.1
bokeh==0.12.13
boto==2.46.1
Bottleneck==1.2.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
conda==4.4.7
contextlib2==0.5.5
cryptography==1.8.1
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==0.14.3
datashape==0.5.4
decorator==4.1.2
dill==0.2.7.1
distributed==1.16.3
docker==2.5.1
docker-pycreds==0.2.1
docutils==0.13.1
entrypoints==0.2.3
escapism==1.0.0
et-xmlfile==1.0.1
fastcache==1.0.2
flake8==3.5.0
Flask==0.12.2
Flask-Cors==3.0.2
future==0.16.0
gevent==1.2.1
glue-core==0.11.1
glue-vispy-viewers==0.7.2
glue-wwt==0.1
greenlet==0.4.12
h5py==2.7.0
HeapDict==1.0.0
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
ipyevents==0.0.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.4.0
jupyter-repo2docker==0.4.1
jupyterlab==0.29.2
jupyterlab-launcher==0.5.5
keyring==10.4.0
lazy-object-proxy==1.2.2
llvmlite==0.18.0
locket==0.2.0
lxml==3.7.3
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.8.1
mock==2.0.0
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.9
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
nltk==3.2.5
nose==1.3.7
notebook==5.2.1
numba==0.33.0
numexpr==2.6.2
numpy==1.13.1
numpydoc==0.6.0
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
packaging==16.8
palettable==3.0.0
pandas==0.20.3
pandocfilters==1.4.2
panoptes-client==0.9
parso==0.1.0
partd==0.3.8
pathlib2==2.2.1
patsy==0.4.1
pbr==1.10.0
pep8==1.7.0
pew==1.1.2
pexpect==4.3.0
photutils==0.3.2
pickleshare==0.7.4
Pillow==4.1.1
pipenv==9.0.1
plotly==2.0.9
ply==3.10
prompt-toolkit==1.0.15
psutil==5.2.2
ptyprocess==0.5.2
py==1.4.34
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.2.0
pylint==1.6.4
pyodbc==4.0.16
PyOpenGL==3.1.1a1
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyregion==1.2
pytest==3.2.1
python-dateutil==2.6.1
python-json-logger==0.1.8
python-magic==0.4.13
pytz==2017.2
PyWavelets==0.5.2
pywwt==0.4.0.dev0
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.18.4
rope-py3k==0.9.4.post1
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
Shapely==1.5.17.post1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.5.6
spyder==3.1.4
SQLAlchemy==1.1.9
statsmodels==0.8.0
sympy==1.0
tables==3.3.0
tblib==1.3.2
terminado==0.7
testpath==0.3.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.44.0
Werkzeug==0.12.2
widgetsnbextension==3.0.8
wrapt==1.10.10
xlrd==1.1.0
XlsxWriter==0.9.6
xlwings==0.10.4
xlwt==1.2.0
zict==0.1.2
