bokeh==0.12.13
certifi==2017.11.5
chardet==3.0.4
click==6.7
dj-database-url==0.4.2
Django==2.0.1
django-heroku==0.2.0
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.13.3
pandas==0.22.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
tornado==4.5.2
urllib3==1.22
Werkzeug==0.14.1
whitenoise==3.3.1
